In [3]:
import pandas as pd
df=pd.read_csv("Supermart_Grocery_Sales.csv.xls")
df.head(10)

,Order ID,Customer Name,Category,Sub Category,City,Order Date,Region,Sales,Discount,Profit,State
0,OD1,Harish,Oil & Masala,Masalas,Vellore,11-08-2017,North,1254.0,0.12,401.28,Tamil Nadu
1,OD2,Sudha,Beverages,Health Drinks,Krishnagiri,11-08-2017,South,749.0,0.18,149.80,Tamil Nadu
2,OD3,Hussain,Food Grains,Atta & Flour,Perambalur,06-12-2017,West,2360.0,0.21,165.20,Tamil Nadu
3,OD4,Jackson,Fruits & Veggies,Fresh Vegetables,Dharmapuri,10-11-2016,South,896.0,0.25,89.60,Tamil Nadu
4,OD5,Ridhesh,Food Grains,Organic Staples,Ooty,10-11-2016,South,2355.0,0.26,918.45,Tamil Nadu
5,OD6,Adavan,Food Grains,Organic Staples,Dharmapuri,06-09-2015,West,2305.0,0.26,322.70,Tamil Nadu
6,OD7,Jonas,Fruits & Veggies,Fresh Vegetables,Trichy,06-09-2015,West,826.0,0.33,346.92,Tamil Nadu
7,OD8,Hafiz,Fruits & Veggies,Fresh Fruits,Ramanadhapuram,06-09-2015,West,NaN,0.32,147.76,Tamil Nadu
8,OD9,Hafiz,Bakery,Biscuits,Tirunelveli,06-09-2015,West,791.0,0.23,181.93,Tamil Nadu
9,OD10,Krithika,Bakery,Cakes,Chennai,06-09-2015,West,1795.0,0.27,484.65,Tamil Nadu

In [4]:
result=df[df["Profit"]>150][["Customer Name","Category","Sales"]]
print(result)

     Customer Name           Category   Sales
0           Harish       Oil & Masala  1254.0
2          Hussain        Food Grains  2360.0
4          Ridhesh        Food Grains  2355.0
5           Adavan        Food Grains  2305.0
6            Jonas   Fruits & Veggies   826.0
...            ...                ...     ...
9988       Jackson             Snacks  1460.0
9989        Sudeep  Eggs, Meat & Fish   945.0
9991          Ravi        Food Grains  1567.0
9992          Peer       Oil & Masala  1659.0
9993        Ganesh        Food Grains  1034.0

[8113 rows x 3 columns]

In [10]:
df["Sales"].fillna(df["Sales"].mean(),inplace=True)
df["Discount"].fillna(method="bfill",inplace=True)
df["Profit"].fillna(method="bfill",inplace=True)
print(df.isnull().sum())

Order ID         2
Customer Name    0
Category         0
Sub Category     0
City             0
Order Date       0
Region           0
Sales            0
Discount         0
Profit           0
State            0
dtype: int64

C:\Users\dell\AppData\Local\Temp\ipykernel_8748\2986347793.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Sales"].fillna(df["Sales"].mean(),inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_8748\2986347793.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Discount"].fillna(method="bfill",inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_8748\2986347793.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Discount"].fillna(method="bfill",inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_8748\2986347793.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Profit"].fillna(method="bfill",inplace=True)
C:\Users\dell\AppData\Local\Temp\ipykernel_8748\2986347793.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df["Profit"].fillna(method="bfill",inplace=True)

In [13]:
df["Sales_St_Norm"]=(df["Sales"]-df["Sales"].min()/df["Sales"].max()-df["Sales"].min())
print(df[["Sales","Sales_St_Norm"]].head(10))

         Sales  Sales_St_Norm
0  1254.000000     753.800000
1   749.000000     248.800000
2  2360.000000    1859.800000
3   896.000000     395.800000
4  2355.000000    1854.800000
5  2305.000000    1804.800000
6   826.000000     325.800000
7  1496.480384     996.280384
8   791.000000     290.800000
9  1795.000000    1294.800000

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

ModuleNotFoundError: No module named 'mlxtend'

In [19]:
transactions=df.groupby("Order ID")["Sub Category"].apply(list).values
te=TransactionEncoder()
te_array=te.fit(transactions).transform(transactions)
transactions_df=pd.DataFrame(te_array,columns=te.columns_)
frequent_itemsets=apiori(transaction_df,min_support=0.02,use_colnames=True)
print("frequent Itemsets")
print(frequent_itemsets)
rules=association_rules(frequent_itemsets,metric="confidence",min_thershold=0.5)
print("Assocation Rules")
print(rules[['antecedents','consequents','support','confidence']])
plt.figure()
plt.scatter(rules['support'],rules['confidence'])
plt.xlabel("support")
plt.ylabel("confidence")

NameError: name 'TransactionEncoder' is not defined

In [21]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [32]:
df["Sales"]=df["Sales"].fillna(df["Sales"].mean())
df["Discount"]=df["Discount"].bfill()
df["Profit"]=df["Profit"].ffill()
df=df.dropna()
le=LabelEncoder()
for col in df.select_dtypes(include=["object","string"]).columns:
    df[col]=le.fit_transform(df[col])
x=df.drop("Region",axis=1)
y=df["Region"]
print("total :",x.isnull().sum().sum())
x_train,x_test,y_train,y_test=train_test_split(
    x,y,test_size=0.2,random_state=42
)
model=GaussianNB()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)
print("Accuracy",accuracy_score(y_test,y_pred))

total : 0
Accuracy 0.34217108554277137